<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>

    <!--General configuration-->
    <add key="BaseUrl" value="https://kinopoisk.ru" />
    <add key="Username" value="vb.testautomation" />
    <add key="Password" value="Password1!" />
	<add key ="Login" value ="vb.testautomation@yandex.ru"/>

    <!--Firefox/Chrome etc.-->
    <add key="Browser" value="Chrome" />


  </appSettings>
</configuration>